/*variables start*/
:root {
  --primary: #000000;
  --secondary: #ffffff;
  --third-color: #ffffff;
  --fourth-color: #000000;
  --light: #f8f9fa;
  --dark: #343a40;
  --gray-dark: #181818;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.color-primary {
	color: var(--primary);
}
.color-secondary {
	color: var(--secondary);
}
.bg-primary {
	background: var(--primary) !important;
}
.bg-secondary {
	background: var(--secondary) !important;
}
/*variables end*/
/*animations start*/
@keyframes mymove {
  from {bottom: 75px;}
  to {bottom: 25px;}
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

/*animations end*/
/*CUSTOM CSS STARTS*/
body {
	position:relative;
}
/*header start*/
.top-header {
    display: block;
    width: 100%;
    background: var(--primary);
    position: fixed;
    z-index: 1000;
	transition: all 0.3s ease 0s;
}
.page-container {
    padding-top: 90px;
	padding-bottom: 70px;
	min-height: 100vh;
}

.logo div {
    display: flex;
    width: 100%;
    height: 100%;
	flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.logo img {
    max-height: 40px;
}

.main-menu-nav {
    padding: 10px 0;
}

.main-header {
    text-align: right;
}
.main-header label {
    margin: 0;
}
.hamburger {
	position: relative;
	width: 70px;
	height: 70px;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	padding: 20px;
}
.hamburger:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 20px;
	background: var(--primary);
	transform: rotate(0deg);
	transition: all 0.4s cubic-bezier(0.54, -0.1, 0.57, 0.57);
}
.hamburger .hamburger-input {
	position: absolute;
	opacity: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: pointer;
}
.hamburger .hamburger-line {
	width: 100%;
	background: #fff;
	height: 2px;
	display: block;
	border-radius: 6px;
	transition: transform 0.4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
	position: relative;
}
.hamburger .hamburger-line.first, .hamburger .hamburger-line.third {
	width: 50%;
}
.hamburger .hamburger-line.third {
	margin-left: 50%;
	transform-origin: left;
}

.menu-button-wrapper {
	position: relative;
	display: inline-block;
}
.menu-button-wrapper .item-list {
	position: absolute;
	top: 85px;
	transform: translateX(-50%) scale(0);
	transform-origin: center;
	transition: all 0.4s cubic-bezier(0.54, -0.1, 0.57, 0.57);
	background-color: var(--dark);
	color: #fff;
	width: 200px;
	left: 50%;
	padding: 0;
	text-align: left;
	border-radius: 100px;
	font-weight: 300;
	opacity: 0;
	user-select: none;
	z-index: 100;
    overflow: hidden;
	box-shadow: rgb(0 0 0 / 50%) 2px 2px 10px 2px;
}
.menu-button-wrapper .item-list div {
	cursor: pointer;
}
.menu-button-wrapper .item-list .menu-item a {
    color: var(--secondary);
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px 30px;
	transition: all 0.3s ease 0s;
}
.menu-button-wrapper .item-list .menu-item a:hover {
    text-decoration: none;
    padding: 10px 30px 10px 20px;
    font-weight: 600;
}
.menu-button-wrapper .menu-button {
	position: absolute;
	width: 70px;
	height: 70px;
	left: 0;
	z-index: 2;
	opacity: 0;
	cursor: pointer;
}

.menu-button:checked ~ .item-list {
	transform: translateX(-50%) scale(1);
	border-radius: 20px;
	opacity: 1;
	user-select: auto;
}
.menu-button:checked ~ .icon-wrapper .hamburger-line.second {
	transform: rotate(-45deg);
}
.menu-button:checked ~ .icon-wrapper .hamburger-line.first {
	transform: translate(2px, 8px) rotate(-135deg);
}
.menu-button:checked ~ .icon-wrapper .hamburger-line.third {
	transform: translate(11px, -3px) rotate(-135deg);
}
.menu-button:checked ~ .icon-wrapper .hamburger:before {
	transform: rotate(45deg);
}
/*header end*/
/*landing image start*/
.landing-image {
    position: relative;
    width: 100%;
    height: calc(100vh - 90px);
}

.landing-image .bg-landingimage {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    z-index: 1;
    transition: all 0.3s ease 0s;
	color: #00000000;
}
.landing-image .scroll-arrow {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 100;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}
.landing-image .scroll-arrow:after {
    content: ' ';
    background: url(/images/icons/down-arrow.png);
    width: 75px;
    height: 75px;
    display: block;
    z-index: 10;
    background-size: cover;
    position: absolute;
    bottom: 75px;
    left: -37.5px;
    border: 0;
    border-radius: 300px;
	transition: all 0.3s ease 0s;
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}
/*landing image end*/
/*who start*/
.who .image img {
    max-width: 100%;
    max-height: 100%;
}

.who .text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: stretch;
}

.who .text p {
    margin: 0;
    padding: 15px 0;
}
/*who end*/
/*image box start*/
.img-box {
	display: block;
    position: relative;
    padding: 15px;
	border: 0 black;
    border-radius: 1.5em;
    overflow: hidden;
	transition: all 0.9ms ease-out;
	min-height: 115px;
}
.img-box:hover {
    /*transform: scale(1.1);*/
}

.img-box a {
    transition: all 0.3s ease 0s;
}

.img-box a:before {
	content: ' ';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.img-box .title {
    z-index: 5;
    position: relative;
	transition: all 0.3s ease 0s;
	color: var(--secondary);
	text-shadow: 10px 10px 20px black;
}

.img-box .subtitle {
    z-index: 5;
	position: relative;
	transition: all 0.3s ease 0s;
	color: var(--secondary);
	text-shadow: 10px 10px 20px black;
}
.img-box .box-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    z-index: 1;
	transition: all 0.3s ease 0s;
}

.img-box:hover .box-bg {
    transform: scale(1.25);
}

.img-box:hover .box-bg:after {
    opacity: 0.6;
}

.img-box .box-bg:after {
    content: ' ';
    background: var(--primary);
    opacity: 0.2;
	transition: all 0.5s ease 0s;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*image box end*/

/*background start*/
.page-bg-image {
    width: 100%;
    height: calc(100vh - 40px);
    position: absolute;
}
.bg-scroll-to-primary {
    opacity: 0.9;
	transition: all 0.5s ease 0s;
}
.bg-scroll-to-primary.in-view {
    opacity: 1;
}
/*background end*/
/*footer start*/
.footer {
    min-height: 70px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
/*footer end*/

/*404 page start*/
.bd-404-page .page-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
.bd-404-page .wrong-link .image {
    text-align: center;
}

.bd-404-page .wrong-link .text {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
/*404 page end*/
/*Responsive stuff*/
@media (min-width: 576px) {
   .img-box {
		min-height: 125px;
	}
}

@media (min-width: 768px) {
	.img-box {
		min-height: 190px;
	}
}

@media (min-width: 992px) {
	.img-box {
		min-height: 215px;
	}
	.footer .right {
		text-align: right;
	}
}

@media (min-width: 1200px) {
	.img-box {
		min-height: 250px;
	}
}