//
// To generate css file, use:
// sass source/stylesheets/index.scss build/stylesheets/index.css
// For postcard: sass C:\Users\ragos\Documents\reischlago.github.io\reischlago.github.io\pages\postcard_webpage\style\main_style.scss C:\Users\ragos\Documents\reischlago.github.io\reischlago.github.io\pages\postcard_webpage\style\main_style.css
//
//
//Section of team.html
.team-page {
		min-height: 100vh;
		height: 100%;
		width: 100%;
		margin: 0;
		font-family: arial;
		display: flex;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: center;
		background: #4549F2;
		font-size: 11px;
		background: rgb(69,73,242);
		background: -moz-linear-gradient(180deg, rgba(69,73,242,1) 53%, rgba(142,144,255,1) 100%);
		background: -webkit-linear-gradient(180deg, rgba(69,73,242,1) 53%, rgba(142,144,255,1) 100%);
		background: linear-gradient(180deg, rgba(69,73,242,1) 53%, rgba(142,144,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4549f2",endColorstr="#8e90ff",GradientType=1);
    .container {
		  display: flex;
		  flex-direction: column;
		  flex-wrap: nowrap;
		  align-content: center;
		  justify-content: center;
		  align-items: center;
		  min-height: 100%;
	  }
	  .postcard-back, .postcard-front{
		  background: #ECECFE;
		  color: #4549F2;
		  display: flex;
		  align-items: center;
		  justify-content: space-evenly;
		  width: 500px;
		  height: 350px;
		  margin: 10px;
		  border-radius: 10px;
  }
	.right-side {
		width: 45%;
		margin: 2.5%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: space-around;
		align-items: stretch;
		height: 93%;
    .paragraph {
  		font-size: 17px;
  		margin: 15px 0;
  	}
    .stamp {
  		max-height: 86px;
  		height: 100%;
  		width: fit-content;
  		align-self: end;
  		margin: 12px;
  	}
	}
	.left-side {
		width: 45%;
		margin: 0;
		padding: 2.5%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		height: 93%;
		border-right: 1px dashed #4549F2;
    .paragraph-box {
  		display: block;
  		font-size: 17px;
  		line-height: 17px;
  		background: #4549F2;
  		color: #fff;
  		padding: 12px;
  		font-weight: 400;
  		text-align: center;
  		margin: 12px;
  		border-radius: 5px;
  	}
	}
  .to, .from {
		display: flex;
		margin: 5px 0;
		font-size: 17px;
    & > div:first-child {
  		width: 65px;
  		text-transform: uppercase;
  		position: relative;
  		bottom: -8px;
  	}
    & > input {
  		width: calc(75% - 65px);
  		display: unset;
  		border: 0 solid #0000004d;
  		border-bottom: 1px solid #4549F233;
  		background: transparent;
  		font-family: monospace;
  		font-size: 17px;
  		color: #4549F2;
      &::placeholder {
    		color: #4549F2;
    	}
      &:focus-visible {
    		outline: none;
    	}
  	}
	}
	.large-input {
		height: 100%;
		width: calc(100% - 29px);
		display: unset;
		border: 1px solid #4549F233;
		background: transparent;
		resize: none;
		color: #4549F2 !important;
		margin: 12px;
		font-size: 17px;
		font-family: arial;
		border-radius: 5px;
    &::placeholder {
  		color: #4549F2;
  	}
	}
	textarea:-moz-placeholder, /* Firefox 18- */
	textarea::-moz-placeholder, /* Firefox 19+ */
	textarea:-ms-input-placeholder, /* IE 10+ */
	textarea::-webkit-input-placeholder, /* Webkit based */
	textarea::placeholder { /* Modern browsers */
		color: #4549F2;
	}
	.small-input {
		height: 100%;
		width: calc(100% - 10.5px);
		display: unset;
		resize: none;
		color: #4549F2 !important;
		margin: 0 0 11px 0;
		font-size: 17px;
		background: transparent;
		font-family: arial;
    &::placeholder {
  		color: #4549F2;
  	}
	}
  .large-input, .small-input {
	  &:focus-visible {
		  outline: none;
    }
	}
	#textarea_on_submit {
		max-height: calc(100% - 109px);
		overflow: hidden;
		word-wrap: break-word;
		margin: 10px 10px 0 10px;
		font-size: 17px;
	}
	#textarea2_on_submit {
		max-height: 315px;
		overflow: hidden;
		word-wrap: break-word;
		margin: 10px 0 0 0;
	}
	.postcard-front {
		display: flex;
		flex-direction: column;
	}
	.postcard-back {
		transform: rotateY(180deg);
		background: #fff;
	}
	#htmlContent {
		display: flex;
		flex-direction: row;
		position: relative;
		width: 915px;
		height: 615px;
		transition: transform 0.8s;
		transform-style: preserve-3d;
		justify-content: center;
    &.flipped {
  		transform: rotateY(180deg);
  	}
    &.generated {
  		width: 100% !important;
  		height: 100%!important;
  		flex-direction: column;
  		align-items: center;
  		margin: 0 0 0 -7.5px;
      .postcard-front, .postcard-back {
    		position: relative;
    		/*width: 630px !important;
    		height: 350px !important;*/
    		margin: 10px 5px;
    		width: 915px;
    		height: 615px;
    	}
      .postcard-front {
    		justify-content: center;
    	}
      .postcard-back {
    		transform: rotateY(0deg) !important;
    	}
  	}
    &.flipped.generated {
  		transform: rotateY(0deg) !important;
  	}
	}
  .generated {
    #flip {
  		display: none;
  	}
    #textarea_on_submit {
		  height: 100%;
		  margin-top: 25px;
    }
    #textarea2_on_submit {
  		height: 100%;
  		z-index: 1;
  		position: relative;
  		line-height: 25px;
  		font-size: 17px;
      &.stripes-bg {
    		background-image: none !important;
    		background-attachment: unset !important;
    		background: transparent !important;
    	}
      &::after {
    		content: '__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________';
    		position: relative;
    		z-index: 0;
    		bottom: calc(100% + -2px);
    		line-break: anywhere;
    		height: 100%;
    		line-height: 25px;
    		font-weight: 300;
    		color: #4549F233;
    	}
  	}
    #text_from_on_submit, #text_to_on_submit {
     min-width: calc(75% - 56px);
     border-bottom: 1px solid #4549F233;
   }
   .postcard-front #image.default {
 		display: none;
 	}
	}
	.postcard-front, .postcard-back {
		overflow: hidden;
		margin: 0;
		transition: ease-in 300ms;
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		z-index: 2;
	}
	.postcard-front #image {
		max-height: 65%;
		max-width: 80%;
		cursor: copy;
		border-radius: 15px;
	}
	.bg-upload #file {
		display: none;
	}
	.postcard-front {
    .title, .subtitle {
		  text-transform: uppercase;
		  font-size: 55px;
		  font-weight: 700;
		  letter-spacing: 2px;
    }
	}
	.buttons {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row-reverse;
		align-content: center;
		justify-content: space-between;
		align-items: center;
		margin: 10px 0;
		position: relative;
    a {
     display: flex;
     padding: 10px 15px;
     color: #4549F2;
     background: #fff;
     text-decoration: none;
     border: 0;
     border-radius: 5px;
     width: 150px;
     justify-content: center;
     align-items: center;
     text-align: center;
     font-size: 15px;
     font-weight: 600;
     margin: 10px;
     transition: ease-in 250ms;
     &.clickable, &:not(non-ready) {
       cursor: pointer;
     }
     &.non-ready {
       position: relative;
       z-index: 1;
       cursor: not-allowed;
       &:after {
           background: #0006;
         position: absolute;
         top: 0;
         left: 0;
         display: block;
         width: 100%;
         height: 100%;
         z-index: 10;
         content: "";
         border-radius: 5px;
       }
     }
   }
	}
	#flip {
		position: absolute;
		top: calc(50% - 16px);
		height: 0;
		width: 0;
		padding: 0;
		color: transparent;
		z-index: 1;
    &.flipped::before {
  		content: '';
  		display: block;
  		width: 80px;
  		height: 78px;
  		position: absolute;
  		left: 460px;
  		background: url('images/arrowr.svg') no-repeat;
  		cursor: pointer;
  	}
    &:not(.flipped)::after {
  		content: '';
  		display: block;
  		width: 80px;
  		height: 78px;
  		position: absolute;
  		right: -540px;
  		top: 0;
  		background: url('images/arrowr.svg') no-repeat;
  		cursor: pointer;
  	}
	}
	.stripes-bg {
		background-attachment: local;
		background-image: repeating-linear-gradient(#4549F200, #4549F200 24px, #4549F2 25px, #4549F2 25px, #4549F200 24px);
		line-height: 25px;
		border: none;
	}
	#close {
		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
    img {
  		width: 40px;
  	}
	}
}
