.team-page {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: arial;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  background: #4549F2;
  font-size: 11px;
  background: rgb(69, 73, 242);
  background: -moz-linear-gradient(180deg, rgb(69, 73, 242) 53%, rgb(142, 144, 255) 100%);
  background: -webkit-linear-gradient(180deg, rgb(69, 73, 242) 53%, rgb(142, 144, 255) 100%);
  background: linear-gradient(180deg, rgb(69, 73, 242) 53%, rgb(142, 144, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4549f2",endColorstr="#8e90ff",GradientType=1);
}
.team-page .container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
.team-page .postcard-back, .team-page .postcard-front {
  background: #ECECFE;
  color: #4549F2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 500px;
  height: 350px;
  margin: 10px;
  border-radius: 10px;
}
.team-page .right-side {
  width: 45%;
  margin: 2.5%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: space-around;
  align-items: stretch;
  height: 93%;
}
.team-page .right-side .paragraph {
  font-size: 17px;
  margin: 15px 0;
}
.team-page .right-side .stamp {
  max-height: 86px;
  height: 100%;
  width: fit-content;
  align-self: end;
  margin: 12px;
}
.team-page .left-side {
  width: 45%;
  margin: 0;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 93%;
  border-right: 1px dashed #4549F2;
}
.team-page .left-side .paragraph-box {
  display: block;
  font-size: 17px;
  line-height: 17px;
  background: #4549F2;
  color: #fff;
  padding: 12px;
  font-weight: 400;
  text-align: center;
  margin: 12px;
  border-radius: 5px;
}
.team-page .to, .team-page .from {
  display: flex;
  margin: 5px 0;
  font-size: 17px;
}
.team-page .to > div:first-child, .team-page .from > div:first-child {
  width: 65px;
  text-transform: uppercase;
  position: relative;
  bottom: -8px;
}
.team-page .to > input, .team-page .from > input {
  width: calc(75% - 65px);
  display: unset;
  border: 0 solid rgba(0, 0, 0, 0.3019607843);
  border-bottom: 1px solid rgba(69, 73, 242, 0.2);
  background: transparent;
  font-family: monospace;
  font-size: 17px;
  color: #4549F2;
}
.team-page .to > input::placeholder, .team-page .from > input::placeholder {
  color: #4549F2;
}
.team-page .to > input:focus-visible, .team-page .from > input:focus-visible {
  outline: none;
}
.team-page .large-input {
  height: 100%;
  width: calc(100% - 29px);
  display: unset;
  border: 1px solid rgba(69, 73, 242, 0.2);
  background: transparent;
  resize: none;
  color: #4549F2 !important;
  margin: 12px;
  font-size: 17px;
  font-family: arial;
  border-radius: 5px;
}
.team-page .large-input::placeholder {
  color: #4549F2;
}
.team-page textarea:-moz-placeholder,
.team-page textarea::-moz-placeholder,
.team-page textarea:-ms-input-placeholder,
.team-page textarea::-webkit-input-placeholder,
.team-page textarea::placeholder { /* Modern browsers */
  color: #4549F2;
}
.team-page .small-input {
  height: 100%;
  width: calc(100% - 10.5px);
  display: unset;
  resize: none;
  color: #4549F2 !important;
  margin: 0 0 11px 0;
  font-size: 17px;
  background: transparent;
  font-family: arial;
}
.team-page .small-input::placeholder {
  color: #4549F2;
}
.team-page .large-input:focus-visible, .team-page .small-input:focus-visible {
  outline: none;
}
.team-page #textarea_on_submit {
  max-height: calc(100% - 109px);
  overflow: hidden;
  word-wrap: break-word;
  margin: 10px 10px 0 10px;
  font-size: 17px;
}
.team-page #textarea2_on_submit {
  max-height: 315px;
  overflow: hidden;
  word-wrap: break-word;
  margin: 10px 0 0 0;
}
.team-page .postcard-front {
  display: flex;
  flex-direction: column;
}
.team-page .postcard-back {
  transform: rotateY(180deg);
  background: #fff;
}
.team-page #htmlContent {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 915px;
  height: 615px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  justify-content: center;
}
.team-page #htmlContent.flipped {
  transform: rotateY(180deg);
}
.team-page #htmlContent.generated {
  width: 100% !important;
  height: 100% !important;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 -7.5px;
}
.team-page #htmlContent.generated .postcard-front, .team-page #htmlContent.generated .postcard-back {
  position: relative;
  /*width: 630px !important;
  height: 350px !important;*/
  margin: 10px 5px;
  width: 915px;
  height: 615px;
}
.team-page #htmlContent.generated .postcard-front {
  justify-content: center;
}
.team-page #htmlContent.generated .postcard-back {
  transform: rotateY(0deg) !important;
}
.team-page #htmlContent.flipped.generated {
  transform: rotateY(0deg) !important;
}
.team-page .generated #flip {
  display: none;
}
.team-page .generated #textarea_on_submit {
  height: 100%;
  margin-top: 25px;
}
.team-page .generated #textarea2_on_submit {
  height: 100%;
  z-index: 1;
  position: relative;
  line-height: 25px;
  font-size: 17px;
}
.team-page .generated #textarea2_on_submit.stripes-bg {
  background-image: none !important;
  background-attachment: unset !important;
  background: transparent !important;
}
.team-page .generated #textarea2_on_submit::after {
  content: "__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________";
  position: relative;
  z-index: 0;
  bottom: calc(100% - 2px);
  line-break: anywhere;
  height: 100%;
  line-height: 25px;
  font-weight: 300;
  color: rgba(69, 73, 242, 0.2);
}
.team-page .generated #text_from_on_submit, .team-page .generated #text_to_on_submit {
  min-width: calc(75% - 56px);
  border-bottom: 1px solid rgba(69, 73, 242, 0.2);
}
.team-page .generated .postcard-front #image.default {
  display: none;
}
.team-page .postcard-front, .team-page .postcard-back {
  overflow: hidden;
  margin: 0;
  transition: ease-in 300ms;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}
.team-page .postcard-front #image {
  max-height: 65%;
  max-width: 80%;
  cursor: copy;
  border-radius: 15px;
}
.team-page .bg-upload #file {
  display: none;
}
.team-page .postcard-front .title, .team-page .postcard-front .subtitle {
  text-transform: uppercase;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
}
.team-page .buttons {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  position: relative;
}
.team-page .buttons a {
  display: flex;
  padding: 10px 15px;
  color: #4549F2;
  background: #fff;
  text-decoration: none;
  border: 0;
  border-radius: 5px;
  width: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin: 10px;
  transition: ease-in 250ms;
}
.team-page .buttons a.clickable, .team-page .buttons a:not(non-ready) {
  cursor: pointer;
}
.team-page .buttons a.non-ready {
  position: relative;
  z-index: 1;
  cursor: not-allowed;
}
.team-page .buttons a.non-ready:after {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  content: "";
  border-radius: 5px;
}
.team-page #flip {
  position: absolute;
  top: calc(50% - 16px);
  height: 0;
  width: 0;
  padding: 0;
  color: transparent;
  z-index: 1;
}
.team-page #flip.flipped::before {
  content: "";
  display: block;
  width: 80px;
  height: 78px;
  position: absolute;
  left: 460px;
  background: url("images/arrowr.svg") no-repeat;
  cursor: pointer;
}
.team-page #flip:not(.flipped)::after {
  content: "";
  display: block;
  width: 80px;
  height: 78px;
  position: absolute;
  right: -540px;
  top: 0;
  background: url("images/arrowr.svg") no-repeat;
  cursor: pointer;
}
.team-page .stripes-bg {
  background-attachment: local;
  background-image: repeating-linear-gradient(rgba(69, 73, 242, 0), rgba(69, 73, 242, 0) 24px, #4549F2 25px, #4549F2 25px, rgba(69, 73, 242, 0) 24px);
  line-height: 25px;
  border: none;
}
.team-page #close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.team-page #close img {
  width: 40px;
}

/*# sourceMappingURL=main_style.css.map */
