body {
	margin: 0;
}
#nav {
	background: #bceda3d6;
}
.main_menu {
	display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
	max-width: 1080px;
    margin: 0 auto;
}
.main_menu > div a {
	padding: 10px;
	display: block;
}
.main_menu a {
	color: unset;
	text-decoration: none;
}
.body {
    max-width: 1080px;
    margin: 0 auto;
}
p.red {
	color:red;
}
.social_media{
	
}
.social_media a.insta {
	color: unset;
}
.social_media a.insta .logo {
	height: 35px;
	width: 35px;
}

/*footer*/
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
	background: #c7f0b2;
}
#footer .container {
    max-width: 1080px;
    margin: 10px auto;
	display: flex;
    align-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#footer .container .content {
    flex: 1;
	padding: 15px;
    color: #084a04;
}